[Unit]
Description=ONVIF Virtual Network Setup
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes

# Configure ARP settings
ExecStart=/usr/sbin/sysctl -w net.ipv4.conf.all.arp_ignore=1
ExecStart=/usr/sbin/sysctl -w net.ipv4.conf.all.arp_announce=2

# Create virtual network interfaces with unique MAC addresses
ExecStart=/usr/sbin/ip link add 500S-01 link eth0 address a2:a2:a2:a2:a2:01 type macvlan mode bridge
ExecStart=/usr/sbin/ip link add 500S-02 link eth0 address a2:a2:a2:a2:a2:02 type macvlan mode bridge
ExecStart=/usr/sbin/ip link add 500S-03 link eth0 address a2:a2:a2:a2:a2:03 type macvlan mode bridge
ExecStart=/usr/sbin/ip link add 500S-04 link eth0 address a2:a2:a2:a2:a2:04 type macvlan mode bridge
ExecStart=/usr/sbin/ip link add 500S-05 link eth0 address a2:a2:a2:a2:a2:05 type macvlan mode bridge
ExecStart=/usr/sbin/ip link add 500S-06 link eth0 address a2:a2:a2:a2:a2:06 type macvlan mode bridge

# Assign static IP addresses
# ExecStart=/usr/sbin/ip addr add 192.168.1.184/24 dev 500S-01
# ExecStart=/usr/sbin/ip addr add 192.168.1.185/24 dev 500S-02
# ExecStart=/usr/sbin/ip addr add 192.168.1.186/24 dev 500S-03
# ExecStart=/usr/sbin/ip addr add 192.168.1.187/24 dev 500S-04
# ExecStart=/usr/sbin/ip addr add 192.168.1.193/24 dev 500S-05
# ExecStart=/usr/sbin/ip addr add 192.168.1.203/24 dev 500S-06

# Bring up the virtual interfaces
ExecStart=/usr/sbin/ip link set 500S-01 up
ExecStart=/usr/sbin/ip link set 500S-02 up
ExecStart=/usr/sbin/ip link set 500S-03 up
ExecStart=/usr/sbin/ip link set 500S-04 up
ExecStart=/usr/sbin/ip link set 500S-05 up
ExecStart=/usr/sbin/ip link set 500S-06 up

# Cleanup on stop - delete the virtual interfaces
ExecStop=/usr/sbin/ip link delete 500S-01
ExecStop=/usr/sbin/ip link delete 500S-02
ExecStop=/usr/sbin/ip link delete 500S-03
ExecStop=/usr/sbin/ip link delete 500S-04
ExecStop=/usr/sbin/ip link delete 500S-05
ExecStop=/usr/sbin/ip link delete 500S-06

[Install]
WantedBy=multi-user.target